html {
    background-image: url("../res/img/ethernum-wallpaper.jpg");
    background-size: cover;
    scroll-behavior: smooth;
    /*background-color: rgb(53,56,57);*/
}

body {
    margin: 0;
}

/*
Default
*/

#header a, #mini_header a, #footer a {
    color: white;
    text-decoration: none;
}

#header a:visited, #mini_header a:visited, #footer a:visited {
    color: white;
    text-decoration: none;
}

/*
Header
*/

#header {
    background-color: rgb(36, 37, 32);
    font-family: "Aladin", "Calibri", sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 128px;
    /*txt-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
    color: white;
}

#header > img {
    width: 96px;
    height: 96px;
}

#header > * {
    margin: auto 32px;
}

#header > nav {
    display: flex;
    flex-direction: row;
    font-family: "Calibri", sans-serif;
    margin: auto 0 0 auto;
}

#header > nav > a > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    padding: 16px 32px;
}

#mini_header {
    position: fixed;
    background-color: rgb(36, 37, 32);
    font-family: "Aladin", "Calibri", sans-serif;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    color: white;
    width: 100%;
    height: 64px;
    top: -128px;
}

#mini_header > img {
    width: 48px;
    height: 48px;
}

#mini_header > * {
    margin: auto 16px;
}

#mini_header > nav {
    display: flex;
    flex-direction: row;
    font-family: "Calibri", sans-serif;
    margin: auto 0 0 auto;
}

#mini_header > nav > a > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    padding: 16px 32px;
}

#footer {
    background-color: rgb(36, 37, 32);
    font-family: "Aladin", "Calibri", sans-serif;
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
    height: 64px;
}

#footer > nav {
    display: flex;
    flex-direction: row;
    font-family: "Calibri", sans-serif;
    margin: auto auto 0 0;
}

/*
Main
*/

#social {
    position: fixed;
    display: flex;
    align-items: center;
    right: -46px;
    top: 35%;
}

#social > div {
    background-color: white;
    border: black 3px solid;
    padding: 4px;
}

#social > div:first-child {
    box-shadow: black 1px 1px 8px 1px;
    border-right: 0;
}

#social > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

#social > div:last-child img {
    width: 32px;
    height: auto;
    margin: 4px auto;
}

.article {
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: space-around;
    font-family: "Calibri", sans-serif;
    background-color: white;
    /*background-color: #F0FFFF;*/
    border: #444 4px groove;
    border-radius: 24px 48px;
    font-size: 17px;
    text-align: justify;
    width: 80%;
    height: auto;
    margin: 64px 5%;
    padding: 16px;
}

.article > * {
    margin: auto 8px;
}

.article > .text {
    width: 45%;
    height: auto;
}

.article > img {
    width: auto;
    height: 256px;
}

.text > h3 {
    font-weight: bold;
    text-decoration: underline;
}

.single > .text {
    width: 90%;
}

.wrapped {
    width: 95%;
}

#up {
    position: fixed;
    background-color: white;
    border: black 4px solid;
    border-radius: 128px;
    height: 48px;
    width: auto;
    right: -96px;
    bottom: 32px;
}

/*
Footer
*/

/*
Formulary
*/

.formulary {
    background-color: white;
    border: black 2px solid;
    font-family: "Calibri", sans-serif;
    display: flex;
    margin: 32px 10% 32px 10%;
    padding: 16px;
    width: auto;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.formulary label {
    margin: 8px 8px;
}

/*
Medias
*/

@media screen and (max-width: 1024px) {
    nav {
        flex-direction: column;
    }

    nav > a > div {
        padding: 8px 32px;
    }

    .article {
        flex-direction: column;
    }

    .article .text, .single .text {
        width: 95%;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        flex-direction: row;
    }

    nav > a > div {
        padding: 16px 32px;
    }

    .article {
        flex-direction: row;
    }

    .article .text {
        width: 45%;
    }

    .single .text {
        width: 95%;
    }
}

/*
Fonts registering
*/

@font-face {
    src: url("../res/font/Aladin-Regular.ttf");
    font-family: "Aladin";
}

/*
Extras
*/

#-- {
    position: absolute;
    background-color: black;
    visibility: hidden;
    color: white;
    width: 365px;
    height: 330px;
}
#display{
    height: 60%;
    width: 60%;
}
#pca{
    height: 40%;
    width: 40%;
}